git+https://github.com/MKN-BOTZ/pyrogram 
git+https://github.com/cinemagoer/cinemagoer       
tgcrypto
youtube_dl
youtube_search_python
youtube_search
requests
requests
aiohttp
yt_dlp
asyncio
aiofiles
ffmpeg-python
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
pymongo[srv]==3.12.3
