git+https://github.com/MKN-BOTZ/pyrogram         
tgcrypto
git+https://github.com/Joelkb/cinemagoer
youtube_dl
youtube_search_python
youtube_search
requests
requests
aiohttp
yt_dlp
asyncio
aiofiles
ffmpeg-python

