git+https://github.com/MKN-BOTZ/pyrogram         
tgcrypto
git+https://github.com/Joelkb/cinemagoer
youtube_dl
youtube_search_python
youtube_search
requests
os
requests
aiohttp
yt_dlp
asyncio
math
time
wget
aiofiles
youtubesearchpython
